units/postnord/sync/schemas/ReturnReport.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
	<xs:element name="Message">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="MessType"/>
				<xs:element type="xs:string" name="PartnerID"/>
				<xs:element type="xs:date" name="CreationDate"/>
				<xs:element type="xs:time" name="CreationTime"/>
				<xs:element name="Orders">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Order" maxOccurs="unbounded" minOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="OrderHeader">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="OrderNo"/>
													<xs:element type="xs:date" name="ReturnDate"/>
													<xs:element type="xs:time" name="ReturnTime"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="OrderLines">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="OrderLine" maxOccurs="unbounded" minOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="ItemNo"/>
																<xs:element type="xs:decimal" name="ReturnQty"/>
																<xs:element type="xs:string" name="ReasonCode"/>
																<xs:element type="xs:string" name="Status"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>